.CommentSectionCon {
  margin-top: 24px;
  margin-bottom: 104px;
}

.CommentSectionLower {
  margin-top: 16px;
  width: 100%;
  max-width: 724px;
}

.CommentLine {
  border: none;
  background: none;
  cursor: pointer;
}

.CommentNumber h3 {
  font-size: 16px;
}

.SubmitArrow {
  transition: stroke 0.2s ease;
}

.SubmitArrow:hover {
  stroke: var(--DefaultRed);
}

.EnterComment {
  display: flex;
  gap: 16px;
}

.Comment input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: var(--WhiteGrey);
  font-size: 14px;
  width: 100%;
  max-width: 690px;
}

.Comment input::placeholder {
  font-size: 14px;
}

.CommentBlock {
  margin-top: 8px;
  width: 100%;
  max-width: 724px;
  height: 315px;
  background-color: #eeeeee;
  border-radius: 18px;
}

.TopComment {
  padding-top: 16px;
  padding-left: 8px;
}

.ProfileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 25px;
}

.ProfilePicture {
  width: 100%;
  height: 100%;
  max-width: 24px;
  max-height: 24px;
  border-radius: 12px;
}

.PerCommentCon {
  display: flex;
  gap: 8px;
}

.PerCommentCon h4 {
  font-size: 14px;
  font-weight: 500;
  color: var(--DefaultText);
}

.PerCommentCon p {
  font-size: 12px;
  color: var(--DefaultText);
}

.ReplyComment {
  display: flex;
  margin-left: 12px;
  align-items: flex-start;
  gap: 12px;
}

.ProfileImagereply {
  margin-top: 6px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 25px;
}

.ReplyText h4 {
  font-size: 14px;
  font-weight: 500;
  color: var(--DefaultText);
}

.ReplyText p {
  font-size: 12px;
  color: var(--DefaultText);
}

.replytreading {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.Percommentspacer {
  margin-top: 32px;
}

.CommentSectionLower p {
  max-width: 98%;
}
