:root {
  --WhiteColor: #ffffff;
  --FooterColor: #393939;
  --WhiteGrey: #a6a6a6;
  --LightBlue: #0061FB;
  --Gold: #B8965C;
  --TextColor: #1f1f1f;
  --DarkBlue: #001331;
  --DefaultRed: #C41039;

  --DeafaultFont: general-sans, -apple-system, BlinkMacSystemFont, sans-serif;
  --HeadingFont: Oswald, -apple-system, BlinkMacSystemFont, sans-serif;


  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
